.wrapper {
    height: 100vh;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    .register {
        width: 666px;
        padding: 16px;
        border-radius: 32px;
        border: 2px solid var(--lightcl);
        box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.4);

        .title {
            text-align: center;
            margin: 24px 0px;
            font-family: 'Permanent Marker', cursive;
        }
        .form {
            display: grid;
            grid-template-columns: auto auto;
            gap: 12px;
            .input-group {
                display: flex;
                flex: 1;
                flex-direction: column;
                padding: 8px;
                border-radius: 8px;
                position: relative;
                margin-bottom: 28px;
                border: 2px solid rgba(255, 255, 255, 0.3);
                transition: all 0.3s;

                input {
                    background-color: transparent;
                    font-size: 20px;
                    padding-left: 4px;
                }
                label {
                    position: absolute;
                    background-color: transparent;
                    padding: 0px 4px;
                    transition: all 0.3s;
                    visibility: hidden;
                    opacity: 0;
                    font-size: 20px;
                }
                p {
                    position: absolute;
                    top: 48px;
                    color: rgb(246, 140, 140);
                    visibility: hidden;
                }
                &:focus-within {
                    border: 2px solid rgb(160, 160, 245);
                    label {
                        visibility: visible;
                        color: rgb(160, 160, 245);
                        transform: translateY(-20px);
                        opacity: 1;
                        background-color: var(--darkcl);
                        font-size: 16px;
                    }
                }
            }
        }
        .messageform {
            text-align: center;
            visibility: hidden;
            color: rgb(246, 140, 140);
        }
        footer {
            display: flex;
            justify-content: space-between;
            padding: 24px 0px;
            align-items: center;

            button {
                padding: 8px;
                font-size: 20px;
                border-radius: 8px;
                background-color: rgba(255, 255, 255, 1);
                color: var(--darkcl);
                box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
                transition: all 0.3s;
                cursor: pointer;

                &:hover {
                    background-color: black;
                    color: var(--lightcl);
                }
            }
            .to-login {
                color: rgb(125, 125, 245);
                font-size: 20px;
            }
        }
    }
}
